a{
    color: white;
}
.messages{
    overflow-y: scroll;
    max-height: 79vh;
}
.bottom{
    bottom: 0px;
    position: absolute;
}
body{
    background-image: url("../img/background.png");
    background-repeat: repeat;
}
#chat{
    margin-top: 0px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}