a{
    color: white;
}
.messages{
    overflow-y: scroll;
    max-height: 79vh;
}
.bottom{
    bottom: 0px;
    position: absolute;
}
body{
    background-image: url("../img/background.png");
    background-repeat: repeat;
}
#chat{
    margin-top: 0px;
}