<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src = "/js/script.js"></script>
    </head>
    <body>
        <div class = 'container'>
            <h4>Добро пожаловать в корпоративный чат!</h4>
            <p>Введите свой логин</p>
            <input id = 'name' type = 'text'>
            <button onclick="connection()">Connection!</button>
        </div>
    </body>
</html>