<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Вход</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    </head>
    <body>
        <div class = 'container valign-wrapper center-align'>
            <div class = "row">
                <div class = "col s12 center">
                    <h4>Добро пожаловать в корпоративный чат!</h4>
                </div>
                <div class = "col s6 offset-s3">
                    <form id = "loginForm" name = "loginForm" action="/messages" method = "POST">
                        <p>Логин</p>
                        <input placeholder="Введите свой логин" type = "text" id = "name" name = "username" class="validate">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Вход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>